*{font-family: Arial, Helvetica, sans-serif;}
body{
    padding: 0%;
    margin: 0%;
    text-align: center;
}
header{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
    border-bottom: 3px solid blue;
    overflow: hidden;
    font-size: 40px;
    text-align: left;
}
header img{
    height: 60px;
    width: auto;
    vertical-align: middle;
}
.dialog{
    position: relative;
    width: max-content;
    height: max-content;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    background-color: rgb(255, 250, 250);
    border: 1px solid silver;
    border-radius: 20px;
    box-shadow: 5px 3px 10px rgb(39, 39, 39);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.gameRow{
    margin: 3px 10px;
}
.gameRow button{
    transition: all 0.7s;
    width: 100px;
    height: 100px;
}
.gameMenu{
    padding: 0%;
    margin: 10px;
}
.gameMenu button{
    border: 1px solid blue;
    background-color: #3774E0;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.gameMenu button:hover{background-color: #326aca;}
.game{display: none;}
.game .reset{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #FC0404;
    color: #FC0404;
}
.game .reset:hover{
    background-color: #FC0404;
    color: white;
}
.noo{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #C1BEB7;
}
.noo:hover{background-color: #b1aea7;}
.use{
    cursor: not-allowed;
    border: none;
    border-radius: 10px;
    background-color: #3774E0;
}
.one{background-image: url(icon/Tick.png);}
.two{background-image: url(icon/cross.png);}
.res{
    cursor: default;
    border: none;
    border-radius: 10px;
    background-color: #6CBC64;
}